# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.crf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# uVision
*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.lst
*.lnp
*.bak
*.Vishwas
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt
